<launch>
    <!-- Load Gazebo with RViz and MoveIt -->
    <include file="$(find iiwa_moveit_config)/launch/iiwa_planning_execution.launch"/>

    <!-- Load gazebo world models to RViz
    using Gazebo Fake object recognition service -->
    <node name="table1" pkg="gazebo_test_tools" type="fake_object_recognizer_cmd" args="table1 1" />
    <node name="table2" pkg="gazebo_test_tools" type="fake_object_recognizer_cmd" args="table2 1" />
    <node name="tool1" pkg="gazebo_test_tools" type="fake_object_recognizer_cmd" args="tool1 1" />
    <node name="tool2" pkg="gazebo_test_tools" type="fake_object_recognizer_cmd" args="tool2 1" />
    <node name="tool3" pkg="gazebo_test_tools" type="fake_object_recognizer_cmd" args="tool3 1" />
    <node name="tool4" pkg="gazebo_test_tools" type="fake_object_recognizer_cmd" args="tool4 1" />
</launch>
