<launch>
    <arg name="world" default="or_world2.world" />

    <!-- Load Gazebo with RViz and MoveIt -->
    <!-- <include file="$(find moveit_config)/launch/demo.launch"/> -->
    <include file="$(find moveit_config)/launch/iiwa_planning_execution.launch">
        <arg name="world" value="$(arg world)" />
    </include>

    <!-- Load gazebo world models to RViz using Gazebo Fake object recognition service -->
    <node name="table1" pkg="gazebo_test_tools" type="fake_object_recognizer_cmd" args="table1 1" />
    <node name="table2" pkg="gazebo_test_tools" type="fake_object_recognizer_cmd" args="table2 1" />
    <node name="cube" pkg="gazebo_test_tools" type="fake_object_recognizer_cmd" args="cube 1" />

    <!-- Load more complicated collision objects via scene_objects node -->
    <node name="scene_objects" pkg="kuka_barrett" type="scene_objects"/>

    <!-- OpenCV - Computer Vision -->
    <!-- <node name="image_view" pkg="image_view" type="image_view" args="image:=/barrett/camera1/image_raw" /> -->
    <!-- <node name="opencv_image_view" pkg="vision" type="tool_detection.py"/> -->
</launch>
