[submodule "src/external/barrett_hand"]
	path = src/external/barrett_hand
	url = https://github.com/RobotnikAutomation/barrett_hand.git
[submodule "src/external/general-message-pkgs"]
	path = src/external/general-message-pkgs
	url = https://github.com/JenniferBuehler/general-message-pkgs.git
[submodule "src/external/gazebo-pkgs"]
	path = src/external/gazebo-pkgs
	url = https://github.com/JenniferBuehler/gazebo-pkgs.git
[submodule "src/external/moveit-pkgs"]
	path = src/external/moveit-pkgs
	url = https://github.com/JenniferBuehler/moveit-pkgs.git
[submodule "src/external/convenience-pkgs"]
	path = src/external/convenience-pkgs
	url = https://github.com/JenniferBuehler/convenience-pkgs.git
